# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
venv/

# Environment files
.env
.env.local

# Logs
logs/

# Uploaded files
uploads/

# Data files
data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Testing
test.csv